.home-section{
    padding:  70px;
    background-color: #101626;
    color: #ffff;
    display: block;
    text-align: center;
    height: 80vh;

}
.btn-sec{
    margin: 10px;
    border: transparent;
    color: #ffff;
    background-color: #0b0b2a9d;
}
.col-md-4{
    display: flex;
}
